In [36]:
airbnb=read.csv("airbnb_data.csv", header=TRUE)
head(airbnb, n=5)

  room_id  survey_id host_id   room_type   city      reviews
1 15771735 1498      101992409 Shared room Asheville   0
2 18284194 1498      126414164 Shared room Asheville  32
3 18091012 1498      122380971 Shared room Asheville   4
4 12286328 1498         746673 Shared room Asheville  24
5   156926 1498         746673 Shared room Asheville 152
  overall_satisfaction accommodates bedrooms price
1 0.0                  4            1        67
2 5.0                  4            1        76
3 4.5                  2            1        45
4 4.5                  6            1        26
5 4.5                  6            1        26

In [37]:
model.air=lm(price~room_type+reviews+overall_satisfaction+accommodates+bedrooms, data=airbnb)
summary(model.air)

Call:
lm(formula = price ~ room_type + reviews + overall_satisfaction +
    accommodates + bedrooms, data = airbnb)

Residuals:
   Min     1Q Median     3Q    Max
-367.8  -49.2    3.2   38.6 4032.7

Coefficients:
                       Estimate Std. Error t value Pr(>|t|)
(Intercept)           -23.36172   21.88618  -1.067  0.28609
room_typePrivate room  -0.93115   13.21827  -0.070  0.94386
room_typeShared room  -76.66780   59.90939  -1.280  0.20099
reviews                 0.01090    0.09982   0.109  0.91310
overall_satisfaction  -10.48160    3.47320  -3.018  0.00262 **
accommodates           23.00721    5.23952   4.391 1.27e-05 ***
bedrooms               85.64533   11.45983   7.474 1.95e-13 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 167.1 on 847 degrees of freedom
Multiple R-squared:  0.3228,	Adjusted R-squared:  0.318
F-statistic:  67.3 on 6 and 847 DF,  p-value: < 2.2e-16

In [38]:
levels(airbnb$room_type)

[1] "Entire home/apt" "Private room"    "Shared room"

In [39]:
col1="Private room"
col2=70
col3=4
col4=2
col5=1


x=data.frame("room_type"=col1, "reviews"=col2, "overall_satisfaction"=col3, "accommodates"=col4, "bedrooms"=col5)
x

  room_type    reviews overall_satisfaction accommodates bedrooms
1 Private room 70      4                    2            1

In [40]:
pred.air=predict(model.air, x, interval="confidence")
pred.air

  fit      lwr      upr
1 66.20316 47.64805 84.75827

In [41]:
cook=cooks.distance(model.air)
cook=as.data.frame(cook)

w=which(cook > 1)
w

[1] 94 95

In [42]:
new.air=airbnb[-c(94,95),]
nrow(airbnb)
nrow(new.air)

[1] 854

[1] 852

In [43]:
model.air=lm(price~room_type+reviews+overall_satisfaction+accommodates+bedrooms, data=new.air)
summary(model.air)

Call:
lm(formula = price ~ room_type + reviews + overall_satisfaction +
    accommodates + bedrooms, data = new.air)

Residuals:
    Min      1Q  Median      3Q     Max
-190.95  -32.43   -7.09   20.35  876.26

Coefficients:
                       Estimate Std. Error t value Pr(>|t|)
(Intercept)            75.01310    9.09152   8.251 6.01e-16 ***
room_typePrivate room -32.28201    5.38034  -6.000 2.92e-09 ***
room_typeShared room  -91.69951   24.28958  -3.775 0.000171 ***
reviews                -0.05915    0.04047  -1.462 0.144202
overall_satisfaction   -6.78957    1.41118  -4.811 1.78e-06 ***
accommodates           11.90698    2.14267   5.557 3.68e-08 ***
bedrooms               35.93177    4.87968   7.364 4.25e-13 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 67.73 on 845 degrees of freedom
Multiple R-squared:  0.4249,	Adjusted R-squared:  0.4208
F-statistic:   104 on 6 and 845 DF,  p-value: < 2.2e-16

In [ ]:
*************************************Q2************************************************************

In [45]:
direct.market=read.csv("direct_marketing.csv", header=TRUE)
head(direct.market, n=5)

  Age    Gender OwnHome Married Location Salary Children History Catalogs
1 Old    Female Own     Single  Far      47500  0        High     6
2 Middle Male   Rent    Single  Close    63600  0        High     6
3 Young  Female Rent    Single  Close    13500  0        Low     18
4 Middle Male   Own     Married Close    85600  1        High    18
5 Middle Female Own     Single  Close    68400  0        High    12
  AmountSpent
1  75.5
2 131.8
3  29.6
4 243.6
5 130.4

In [46]:
model.market=lm(AmountSpent~relevel(History, ref = "None")+relevel(History, ref = "None")*Salary, data=direct.market)
summary(model.market)

Call:
lm(formula = AmountSpent ~ relevel(History, ref = "None") + relevel(History,
    ref = "None") * Salary, data = direct.market)

Residuals:
    Min      1Q  Median      3Q     Max
-214.33  -25.47   -6.46   20.64  352.50

Coefficients:
                                              Estimate Std. Error t value
(Intercept)                                  1.9622199  6.3880253   0.307
relevel(History, ref = "None")High          72.6735221 15.2270169   4.773
relevel(History, ref = "None")Low           25.4466733  8.9203292   2.853
relevel(History, ref = "None")Medium        79.2984388 12.8982169   6.148
Salary                                       0.0023641  0.0001071  22.083
relevel(History, ref = "None")High:Salary   -0.0006408  0.0001926  -3.328
relevel(History, ref = "None")Low:Salary    -0.0021069  0.0001890 -11.150
relevel(History, ref = "None")Medium:Salary -0.0021153  0.0002182  -9.693
                                            Pr(>|t|)
(Intercept)                                 0.758777
relevel(History, ref = "None")High          2.09e-06 ***
relevel(History, ref = "None")Low           0.004426 **
relevel(History, ref = "None")Medium        1.14e-09 ***
Salary                                       < 2e-16 ***
relevel(History, ref = "None")High:Salary   0.000908 ***
relevel(History, ref = "None")Low:Salary     < 2e-16 ***
relevel(History, ref = "None")Medium:Salary  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 55.79 on 992 degrees of freedom
Multiple R-squared:  0.6654,	Adjusted R-squared:  0.6631
F-statistic: 281.9 on 7 and 992 DF,  p-value: < 2.2e-16

In [47]:
col1=c("High", "Medium", "Low", "None")
col2=c(10000, 10000,10000, 10000)
   
x=data.frame("History"=col1, "Salary"=col2)
x

  History Salary
1 High    10000
2 Medium  10000
3 Low     10000
4 None    10000

In [48]:
pred.market=predict(model.market, x, interval="confidence")
pred.market

  fit      lwr      upr
1 91.86874 67.77058 115.96690
2 83.74909 65.22310 102.27508
3 29.98157 20.06322  39.89993
4 25.60347 14.83352  36.37342

In [49]:
air.lin.lin=lm(price~overall_satisfaction,data=airbnb)
summary(air.lin.lin)

Call:
lm(formula = price ~ overall_satisfaction, data = airbnb)

Residuals:
   Min     1Q Median     3Q    Max
-167.0  -51.3  -24.2   16.8 4805.0

Coefficients:
                     Estimate Std. Error t value Pr(>|t|)
(Intercept)           194.967     17.698  11.016  < 2e-16 ***
overall_satisfaction  -16.353      3.903  -4.189 3.09e-05 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 200.4 on 852 degrees of freedom
Multiple R-squared:  0.02018,	Adjusted R-squared:  0.01903
F-statistic: 17.55 on 1 and 852 DF,  p-value: 3.088e-05

In [50]:
air.log.lin=lm(log(price)~overall_satisfaction,data=airbnb)
summary(air.log.lin)

Call:
lm(formula = log(price) ~ overall_satisfaction, data = airbnb)

Residuals:
    Min      1Q  Median      3Q     Max
-1.6234 -0.3525 -0.0432  0.3302  3.7220

Coefficients:
                     Estimate Std. Error t value Pr(>|t|)
(Intercept)           4.79515    0.05083  94.339  < 2e-16 ***
overall_satisfaction -0.04401    0.01121  -3.926 9.33e-05 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.5757 on 852 degrees of freedom
Multiple R-squared:  0.01777,	Adjusted R-squared:  0.01662
F-statistic: 15.41 on 1 and 852 DF,  p-value: 9.331e-05

In [51]:
air.lin.log=lm(price~log(overall_satisfaction+1),data=airbnb)
summary(air.lin.log)

Call:
lm(formula = price ~ log(overall_satisfaction + 1), data = airbnb)

Residuals:
   Min     1Q Median     3Q    Max
-168.5  -50.7  -24.7   16.3 4803.5

Coefficients:
                              Estimate Std. Error t value Pr(>|t|)
(Intercept)                     196.46      17.76  11.062  < 2e-16 ***
log(overall_satisfaction + 1)   -46.20      10.84  -4.263 2.24e-05 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 200.4 on 852 degrees of freedom
Multiple R-squared:  0.02089,	Adjusted R-squared:  0.01974
F-statistic: 18.18 on 1 and 852 DF,  p-value: 2.239e-05

In [52]:
air.log.log=lm(log(price)~log(overall_satisfaction+1),data=airbnb)
summary(air.log.log)

Call:
lm(formula = log(price) ~ log(overall_satisfaction + 1), data = airbnb)

Residuals:
    Min      1Q  Median      3Q     Max
-1.6030 -0.3551 -0.0327  0.3298  3.7132

Coefficients:
                              Estimate Std. Error t value Pr(>|t|)
(Intercept)                    4.80396    0.05098  94.228  < 2e-16 ***
log(overall_satisfaction + 1) -0.12750    0.03111  -4.099 4.55e-05 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.5752 on 852 degrees of freedom
Multiple R-squared:  0.01934,	Adjusted R-squared:  0.01819
F-statistic:  16.8 on 1 and 852 DF,  p-value: 4.547e-05

In [ ]:
****************************************Q3*****************************************************

In [53]:
titan=read.csv("titanic_data.csv", header=TRUE)
titan$Survived=as.factor(titan$Survived)
head(titan, n=5)

  Name                                          PClass Age   Sex    Survived
1 Allen, Miss Elisabeth Walton                  1st    29.00 female 1
2 Allison, Miss Helen Loraine                   1st     2.00 female 0
3 Allison, Mr Hudson Joshua Creighton           1st    30.00 male   0
4 Allison, Mrs Hudson JC (Bessie Waldo Daniels) 1st    25.00 female 0
5 Allison, Master Hudson Trevor                 1st     0.92 male   1

In [54]:
titan.model=glm(Survived~Sex, data=titan, family="binomial")
summary(titan.model)

Call:
glm(formula = Survived ~ Sex, family = "binomial", data = titan)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-1.6735  -0.6776  -0.6776   0.7524   1.7800

Coefficients:
            Estimate Std. Error z value Pr(>|z|)
(Intercept)   1.1172     0.1367   8.171 3.05e-16 ***
Sexmale      -2.4718     0.1783 -13.861  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 1025.57  on 755  degrees of freedom
Residual deviance:  796.64  on 754  degrees of freedom
AIC: 800.64

Number of Fisher Scoring iterations: 4